:root{
    --text-color : #575757; 
    --text-color-2: #828282;
}
body{
    font-family: 'Poppins', sans-serif;
    /* width: 1500px;
    margin: 0 auto; */
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.flex{
    display: flex;
}
.half-width{
    width: 40%;
    padding: 0.5% 5%;
}
.text-center{
    display: flex;
    align-items: center;
   
}
.diet-img{
    width: 80%;
}
.about-me-img{
   width: 70%;
}
.half-width h1{
    font-size: 40px;
    margin: 0;
    font-weight: 700;
    color: var(--text-color);
}
h1 span{
    color: #2169bf;
}
.half-width p{
    color: var(--text-color-2);
}
.btn{
    padding: 1rem 2.5rem;
    border-radius: 20px;
    /* border: 3px solid; */
    border: none ;
    background-image: linear-gradient(rgb(17, 78, 170), rgb(80, 185, 255));
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
}
/* .btn:hover{
    background-image: none;
    border: 3px solid blue;
    color: blue;
} */
.about-me{
    background-image: url(./images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    /* background-position-y:top; */
    background-size: cover;
}
.card img{
    width: 90%;
    /* display: block;
   text-align: center; */
   /* padding: 15px; */
   /* padding-right: 10px; */
   padding-left: 20px;
   padding-top: 15px;
   
}
.card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 5rem ;
}
.card{
  /* text-align: center; */
  box-shadow: 10px 10px 40px gray;
  width: 400px;
  border-radius: 20px;

}
.card-text{
    padding: 1rem;
}
.heading{
    text-align: center;
    /* width: 1000px; */
    /* border: 2px solid red; */
    margin: 3rem 15rem;
}
.heading h2{
    color: var(--text-color);
    font-size: 30px;
    font-weight: 700;
}
.heading p{
    color: var(--text-color-2);
}
.parent-div{
    box-shadow: 10px 10px 40px gray;
    border-radius: 20px;
    /* display: flex; */
    justify-content: center;
    margin: 1rem 6rem;
   
}
.single-div{
    padding: 2rem 8rem;
    text-align: center;
}
.single-div h1{
    font-weight: 700;
}
.popularity{
  margin: 8rem 0;
}
footer span{
    color: #2169bf;
}
footer{
    color: var(--text-color);
    background-color: #0B0D17;
    padding: 3.5rem 0;
    
    text-align: center;
}
footer p{
    color: white;

}
nav{
    justify-content: space-around;
    /* width: 2000px;
    margin: 0 auto; */
}
nav .left{
    margin-right: 15rem;
}
nav .left a{
    margin-left: 3rem;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color);
}
nav .left a:hover{
    color: #2169bf;
    transition: all .3s ease;
}
.nav-heading{
    font-size: 20px ;
}
